<div class="users-container">
    <h2>Lista de usuarios</h2>
    <table class="users-table">
        <tr>
            <th class="header">Email</th>
            <th class="header">Rol</th>
            <th class="header">Tipo de acceso</th>
            <th class="header">Ultima Conexión</th>
        </tr>
        {{#each usersList}}
        <tr>
            <td>{{email}}</td>
            <td>{{role}}</td>
            {{#if github_login}}
                <td>github</td>
                {{else}}
                <td>local</td>
            {{/if}}
            <td>
                {{last_connection}}
            </td>
            <td>
                <button onclick="deleteUser(`{{_id}}`)">Eliminar</button>
            </td>
            <td>
                <button onclick="changeRole(`{{_id}}`)">Cambiar rol</button>
            </td>
        </tr>
        {{/each}}
    </table>
    <button onclick="deleteInactive()">Eliminar usuarios inactivos</button>
</div>

<script src="/statics/js/users.js"></script>